<h1>積んどく？</h1>
<div>
  <% if user_signed_in? %>
    <% @tsundocs.each do |tsundoc| %>
      <div>
        <%= tsundoc.tsundocable.display %>
        <%= tsundoc.display_tsundoc %>
      </div>
    <% end %>
  <% else %>
    <h2>ログイン</h2>
    <%= form_for(@user, as: :user, url: session_path(:user)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  <% end %>
</div>
